body {
  background-color: #a0d6b4;
  color: #0d47a1;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}



a {
  color: #0d47a1;
  text-decoration: none;
}

a:hover {
  color: #1a237e;
}

nav {
  background-color: #0d47a1;
  padding: 1em 0;
}

nav a {
  color: white;
  margin: 0 1em;
}

nav a:hover {
  color: #bbdefb;
}


h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}